prefix=/usr/local
python=/Users/yamadayuuki/.anyenv/envs/pyenv/shims/python
//registry.npmjs.org/:_authToken=a908c358-3a49-4751-bb2a-4c47805b17f0
scope=yamadayuki
init-version=0.0.0
init-license=MIT
progress=false
engine-strict=true
@yamadayuki:registry=https://registry.npmjs.org/
