prefix=/usr/local
python=/Users/yamadayuuki/.anyenv/envs/pyenv/shims/python
//registry.npmjs.org/:_authToken=edc6afc8-da38-4cc4-8102-ed80b01f863c
scope=yamadayuki
init-version=0.0.0
init-license=MIT
progress=false
engine-strict=true
@yamadayuki:registry=https://registry.npmjs.org/
